@use "./variables.scss" as *;

// put your custom CSS here!
.leaflet-container, #leaflet-map {
  height: 400px !important; /* Change 500px to your desired height (e.g., 60vh, 400px) */
  width: 100%;
}

.leaflet-control-button:not(.selected) {
  display: none;
}